
    body{
     background-color:aquamarine;
    

    }

    #header{
        color: blue;
    }


    .flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-inline: 20px;}


    .flex{ 
     padding: 20px; 
     color: white; 
    } 

    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color:black;
    color: white;
    text-align: center;
    }

    #image{
      display: block;
      width: 25%;
      padding-top: 5px;
    }

    #form { position:-webkit-sticky; bottom: 0; 
    scroll-padding-bottom: 0;
}
    
#button{
    padding-bottom: 1%;
}
    
.hidden{
    display: none
}
  